<div class="row row-xs">
<div class="col-sm-12">
  <div class="alert indigo">
    <h4> Kaimun allows you to instantly send money to bank and mobile money accounts in Ghana and Nigeria.</h4>
  </div>
  <div class="alert alert-success" ng-if="successFulTx">
         Last transaction was successful
      </div>
  <div class="col-md-4">
      <ul class="list-group md-whiteframe-z0">
          <li class="list-group-item" ng-class="{'bg-dark':selectedCountry  == true}" ng-repeat="country in countries" ng-click="selectCountry(country)">
              <div class="clear">
                  <span class="font-bold block">{{country.name}}
                      <span class="pull-right">
                          <i class="glyphicon glyphicon-chevron-right"></i>
                      </span>
                  </span>
                  Send to Bank Accounts in {{country.name}}
              </div>
          </li>
         
        </ul>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card" ng-if="step1" >
        <div class="card-heading">
            {{selectedCountry}}
        </div>
        <div class="card-body">
            <form ng-submit="resolveAccount()">
                <div class="row row-sm">
                    <div class="col-sm-12">
                        <div class="md-form-group float-label">
                            <input class="md-input"  ng-model="postData.account_number" required>
                            <label>Account Number</label>
                        </div>
                    </div>
                      <div class="md-form-group">
                        <label>Bank</label>
                        <select class="form-control" ng-model="postData.bank_code">
                            <option ng-repeat="(key, value) in banks" value="{{key}}">{{value}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12" ng-if="account_name">
                        <label for="">Account Name</label>
                        <div class="md-form-group float-label">
                            <span>{{account_name}}</span>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="account_name">
                        <div class="md-form-group float-label">
                            <input class="md-input"  ng-model="postData.amount" required>
                            <label>Amount</label>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-if="account_name">
                        <div class="md-form-group float-label">
                            <textarea class="md-input"  ng-model="postData.narration" required></textarea>
                            <label>Note</label>
                        </div>
                    </div>
                    <button md-ink-ripple type="submit" class="md-btn md-raised indigo btn-block p-h-md" ng-if="!account_name" >Validate Account</button>
                    <button md-ink-ripple class="md-btn md-raised indigo btn-block p-h-md" ng-click="toggleStep2()"  ng-if="account_name">Continue</button>
                </div>
            </form>  
         </div>

         <div class="card" ng-if="step2">
                <ul class="list-group md-whiteframe-z0">
                        <li class="list-group-item">
                            <div class="clear">
                                <span class="font-bold block">Account Name
                                    <span class="pull-right">
                                            {{account_name}}
                                    </span>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item">
                                <div class="clear">
                                    <span class="font-bold block">Account Number
                                        <span class="pull-right">
                                            {{postData.account_number}}
                                        </span>
                                    </span>
                                </div>
                        </li>

                        <li class="list-group-item">
                                <div class="clear">
                                    <span class="font-bold block">Amount
                                        <span class="pull-right">
                                            {{postData.amount}} {{currency_code}}
                                        </span>
                                    </span>
                                </div>
                        </li>
                        <li class="list-group-item">
                                <div class="clear">
                                    <span class="font-bold block">Note
                                        <span class="pull-right">
                                            {{postData.narration}}
                                        </span>
                                    </span>
                                </div>
                        </li>
                        <li class="list-group-item" >
                                <div class="clear">
                                     <button md-ink-ripple class="md-btn md-raised indigo btn-block p-h-md" ng-click="sendDepositRequest()" ng-if="!showRavePayButton">Pay</button>
                                </div>
                                <rave-pay-button ng-if="showRavePayButton" class="md-raised btn-block m-b btn-fw indigo" text="Send" email="email" amount="amount"
                                reference="reference" meta="metadata" callback="send" close="close" integrity_hash="integrityHash" currency="customer.currency"
                                country="customer.country" customer_firstname="customer.firstName" customer_lastname="customer.lastName"
                                custom_title="website.title" custom_description="website.description" custom_logo="website.logo"></rave-pay-button>
                        </li>

                      </ul>
           </div>
        
       </div>
   </div>

 
  </div>
</div>



<!-- validate account_name
collect payment using rave
on successful payment, send amount to the recepient -->