<div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <span class="m-l inline">{{app.name}}</span>
        </div>
    </div>
    <div class="p-lg panel md-whiteframe-z1 text-color m">
        <!--<div class="alert alert-warning">{{success}}</div>-->
        <div class="alert alert-success" ng-if="success">{{success}}</div>
        <div class="alert alert-danger" ng-if="errors.new_password2">{{errors.new_password2[0]}}</div>
        <div class="alert alert-danger" ng-if="errors.token">{{errors.token[0]}}</div>

        <div class="m-b">
            Enter New Password
        </div>
        <form name="reset" ng-submit="resetPassword()">
            <div class="md-form-group">
                <input type="password" ng-model="postData.new_password1" class="md-input" required>
                <label>Password</label>
            </div>
            <div class="md-form-group">
                <input type="password" ng-model="postData.new_password2" class="md-input" required>
                <label>Confirm Password</label>
            </div>
            <button md-ink-ripple type="submit" class="md-btn md-raised blue btn-block p-h-md">Confirm</button>
        </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Return to <button ui-sref="access.signin" class="md-btn">sign in</button></div>
</div>
